@charset "UTF-8";
/*media Queries 480
----------------------------------------------------*/
@media screen and (max-width: 480px){
/*works*/
	
/*skill*/
	
	.skill-list1{
		         display: block;
		         justify-content: center;
		         
	}
	.skill-list2{
		         display:block;
		         justify-content: center;
	}
	
	.skill-item1{
		         width:350px;
		         margin:0 40px;
	}
	.skill-item2{
		        width:350px;
		        margin:0 40px;
	}
	.skill-img {
		       margin-left: 0;
		       margin-right:15px; 
	 }
	.graph1{
		 font-size: 1.2em;
	}
}